body {
    background-color:bisque;
    line-height: 2;
    text-decoration:dashed;
}
 h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: xx-large;
 }

 a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkolivegreen;
 }
